In [96]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as BeautifulSoup
import pandas as pd
import yagmail
from datetime import datetime, timedelta, timezone
import pytz
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.webdriver.chrome.options import Options
from io import StringIO
import re
import numpy as np
import requests
import time
import warnings

# Suppress the specific warnings
warnings.filterwarnings("ignore")

date_format = "%d-%m-%Y"
eastern_timezone = pytz.timezone('US/Eastern')
today = datetime.utcnow()

gameDate = '2023-01-09'
awayTeamID = 0
awayTeamName = 'AWAY'
homeTeamID = 0
homeTeamName = 'HOME'

browser = Browser('chrome')

allowed_events = ['SHOT', 'FAC', 'HIT', 'BLOCK', 'MISS', 'GIVE', 'TAKE', 'GOAL', 'PENL', 'DELPEN']

In [97]:
# url = "https://www.nhl.com/scores/htmlreports/20232024/PL020175.HTM"

In [98]:
homeOnlySked = pd.read_csv('data/sked.csv', index_col=False)

homeOnlySked['gameDT'] = pd.to_datetime(homeOnlySked['gameDT'])
# homeOnlySked.info()

completedSked = homeOnlySked.loc[homeOnlySked['gameDT'] <= (datetime.utcnow() - timedelta(days=0.5))]

# # completedSked = homeOnlySked.loc[homeOnlySked['gameDT'] <= (datetime.utcnow())]
completedSked.sort_values('gameDate')

game_list = completedSked['gameID'].astype(str).str[-6:].tolist()


file_name = f"data/summary_statsS-2023-12-17.csv"
player_biosS = pd.read_csv(file_name, index_col=False)
file_name = f"data/summary_statsG-2023-12-17.csv"
player_biosG = pd.read_csv(file_name, index_col=False)
for index, row in player_biosG.iterrows():
    player_biosG.at[index, 'tertiaryPosition'] = 'G'
player_bios = pd.concat([player_biosS, player_biosG], axis=0)
player_bios

,playerId,name,team,position,toi,gamesPlayed,goals,assists,specialTeams,shots,...,secondaryPosition,tertiaryPosition,FPP60,FPPG,missedGames,gamesRemaining,fantasyPointsRemain,saves,shutout,creaseShare
0,8476453,N. Kucherov,TBL,R,40470,31,20.0,32.0,24.0,146,...,W,F,9.44,3.42,0,50,171.00,NaN,NaN,NaN
1,8479318,A. Matthews,TOR,C,35008,27,23.0,12.0,11.0,121,...,C,F,9.86,3.55,0,54,191.70,NaN,NaN,NaN
2,8476468,J. Miller,VAN,C,37062,31,15.0,28.0,20.0,71,...,C,F,9.23,3.06,0,51,156.06,NaN,NaN,NaN
3,8477492,N. MacKinnon,COL,C,40820,30,12.0,31.0,14.0,133,...,C,F,8.10,3.06,0,52,159.12,NaN,NaN,NaN
4,8480865,N. Dobson,NYI,D,45996,30,5.0,27.0,13.0,72,...,D,D,6.99,2.98,0,52,154.96,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,8481692,D. Wolf,CGY,G,16643,5,NaN,NaN,NaN,149,...,NaN,G,-0.09,-0.08,0,7,-0.65,133.0,0.0,14.83
76,8482221,D. Levi,BUF,G,44616,13,NaN,NaN,NaN,372,...,NaN,G,1.36,1.29,0,19,26.41,334.0,0.0,38.97
77,8482411,H. Shepard,WSH,G,7200,2,NaN,NaN,NaN,59,...,NaN,G,4.40,4.40,0,4,17.76,54.0,0.0,7.34
78,8482821,A. Soderblom,CHI,G,45909,14,NaN,NaN,NaN,398,...,NaN,G,-1.85,-1.69,0,23,-43.29,347.0,0.0,44.13
79,8482982,J. Greaves,CBJ,G,7136,2,NaN,NaN,NaN,76,...,NaN,G,4.14,4.10,0,3,12.88,71.0,0.0,6.23

In [99]:
# game_list = ['020175', '020176', '020177']

In [100]:
def extract_numbers(player_info):
    return [int(num) for num in player_info.split() if num.isdigit()]

In [103]:
def get_play_by_play(tempURL2):
    
    chrome_options = Options()
    chrome_options.add_argument("--headless")  # Run Chrome in headless mode (without GUI)

    # Set up the webdriver with Chrome
    driver = webdriver.Chrome(options=chrome_options)
    try:
        # Open the webpage with Selenium
        driver.get(tempURL2)

        # Get the HTML content after the dynamic content has loaded
        html_content = driver.page_source

        # Parse the HTML with BeautifulSoup
        soup = BeautifulSoup(html_content, 'html.parser')

        # Now you can work with the soup object to extract data from the HTML.
        tables = soup.find_all('table', class_='tablewidth')

        dataframes = [pd.read_html(str(table))[0] for table in tables]

    finally:
        # Close the webdriver
        driver.quit()
        
    time.sleep(2)
    
    num_tables = len(dataframes)
    temp_df = pd.DataFrame()

    for frame in range(num_tables):
#         print(frame)
        try:
            temporary =  dataframes[frame]
            temporary = temporary[temporary[4].isin(allowed_events)]

            
#             temporary = temporary.loc[temporary.iloc[:, 5].notna()]
#             temporary = temporary.iloc[1:]
#             new_headers = temporary.iloc[0]
#             temporary = temporary[1:].set_axis(new_headers, axis=1)
#             temporary = temporary.iloc[:-1]
#             temporary.set_index('#', inplace=True)
            temp_df = pd.concat([temp_df, temporary], axis=0, ignore_index=True)
#             temporary.to_excel('fixed.xlsx')
        except:
            temporary.to_excel('broken.xlsx')
            temp_df = temp_df
        
    
    
    return temp_df

In [102]:
def get_game_details(tempURL):
    global gameDate, awayTeamID, awayTeamName, homeTeamID, homeTeamName
    
    test = requests.get(tempURL).json()
    
    gameDate = test['gameDate']
    awayTeamID = test['awayTeam']['id']
    awayTeamName = test['awayTeam']['abbrev']
    homeTeamID = test['homeTeam']['id']
    homeTeamName = test['homeTeam']['abbrev']

    jerseys = pd.DataFrame()

    for spot in test['rosterSpots']:
        teamId = spot.get('teamId')
        sweaterNumber = spot.get('sweaterNumber')
        playerId = spot.get('playerId')

        temp = pd.DataFrame([{'teamId': teamId, 'sweaterNumber': sweaterNumber, 'playerId': playerId}])

        jerseys = pd.concat([jerseys, temp], ignore_index=True)

    return jerseys

In [104]:
corsi_df = pd.DataFrame()

for game in game_list:
    
    gameURL = 'https://www.nhl.com/scores/htmlreports/20232024/PL' + game + '.HTM'
    tables = get_play_by_play(gameURL)
    
    playURL = 'https://api-web.nhle.com/v1/gamecenter/2023' + game + '/play-by-play'
    players = get_game_details(playURL)
    
    game_id = '2023' + game
    print(game_id)
    events_df = tables
    
#     column_names = ['#', 'period', 'strength', 'times', 'event', 'description',  awayTeamName + ' On Ice', homeTeamName + ' On Ice']
#     events_df.columns = column_names
#     events_df.set_index('#', inplace=True)

        
    for index, row in events_df.iterrows():
        events_df.at[index, 'Corsi'] = row[5][:3]
        events_df.at[index, 'gameID'] = game_id
        

    
    events_df = events_df.loc[(events_df['Corsi'] == homeTeamName) | (events_df['Corsi'] == awayTeamName)]
    
#     awayColumnName = awayTeamName + ' On Ice'
#     homeColumnName = homeTeamName + ' On Ice'
    events_df['awayNumbers'] = events_df[6].apply(extract_numbers)
    events_df['homeNumbers'] = events_df[7].apply(extract_numbers)
    
    home = players.loc[players['teamId'] == homeTeamID]
    away = players.loc[players['teamId'] == awayTeamID]
    
    sweater_number_mapping_home = dict(zip(home['sweaterNumber'], home['playerId']))
    sweater_number_mapping_away = dict(zip(away['sweaterNumber'], away['playerId']))
    events_df['homeNumbers'] = events_df['homeNumbers'].apply(lambda arr: [sweater_number_mapping_home.get(num, num) for num in arr])
    events_df['awayNumbers'] = events_df['awayNumbers'].apply(lambda arr: [sweater_number_mapping_away.get(num, num) for num in arr])
    
#     columns_to_drop = [6, 7, 8, 9, 10]
    
#     events_df = events_df.drop(columns=events_df.columns[columns_to_drop])
    
    corsi_df = pd.concat([corsi_df, events_df], axis=0, ignore_index=True)
    
    

#     valid_types = ['SHOT', 'BLOCK', 'MISS', 'GOAL']
#     events_df = events_df[events_df['Event'].isin(valid_types)]
    

    

    

    
#     for player in home['sweaterNumber'].tolist():
#         temp = events_df.copy()
#         temp['contains_player'] = events_df['homeNumbers'].apply(lambda x: player in x)
#         temp = temp[temp['contains_player'] == True]
#         CorsiFor = len(temp.loc[temp['Corsi'] == homeTeamName])
#         CorsiAgainst = len(temp.loc[temp['Corsi'] == awayTeamName])
#         PID = home.loc[home['sweaterNumber'] == player]['playerId'].iloc[0]
#         name = player_bios.loc[player_bios['playerId'] == PID]['name'].iloc[0]
#         print(f"{name}: For = {CorsiFor}; Against = {CorsiAgainst}")
    
    
    
corsi_df

2023020003
2023020031
2023020048
2023020098
2023020111
2023020138
2023020155
2023020173
2023020192
2023020209
2023020315
2023020368
2023020379
2023020427
2023020440
2023020460
2023020037
2023020053
2023020148
2023020183
2023020196
2023020225
2023020308
2023020322
2023020338
2023020370
2023020424
2023020432
2023020456
2023020006
2023020021
2023020100
2023020119
2023020130
2023020145
2023020193
2023020258
2023020293
2023020340
2023020371
2023020392
2023020408
2023020462
2023020009
2023020116
2023020124
2023020140
2023020172
2023020179
2023020241
2023020265
2023020278
2023020336
2023020353
2023020387
2023020404
2023020419
2023020439
2023020454
2023020008
2023020032
2023020079
2023020097
2023020125
2023020202
2023020221
2023020249
2023020266
2023020309
2023020339
2023020373
2023020446
2023020005
2023020026
2023020038
2023020139
2023020165
2023020177
2023020190
2023020207
2023020215
2023020329
2023020346
2023020364
2023020413
2023020449
2023020466
2023020020
2023020045
2023020058
2023020093
2023020135
2023020200
2023020211
2023020236
2023020252
2023020262
2023020332
2023020349
2023020357
2023020377
2023020467
2023020013
2023020072
2023020108
2023020136
2023020178
2023020233
2023020264
2023020274
2023020289
2023020305
2023020356
2023020410
2023020430
2023020458
2023020061
2023020076
2023020143
2023020188
2023020201
2023020219
2023020240
2023020291
2023020313
2023020324
2023020386
2023020402
2023020417
2023020431
2023020445
2023020052
2023020068
2023020089
2023020118
2023020176
2023020205
2023020222
2023020272
2023020282
2023020304
2023020359
2023020388
2023020406
2023020042
2023020054
2023020104
2023020117
2023020131
2023020141
2023020163
2023020255
2023020268
2023020294
2023020328
2023020344
2023020374
2023020448
2023020465
2023020027
2023020043
2023020064
2023020090
2023020107
2023020134
2023020167
2023020182
2023020216
2023020286
2023020312
2023020383
2023020397
2023020415
2023020429
2023020444
2023020457
2023020015
2023020044
2023020074
2023020095
2023020122
2023020218
2023020234
2023020256
2023020275
2023020288
2023020319
2023020331
2023020347
2023020358
2023020398
2023020435
2023020468
2023020023
2023020050
2023020080
2023020091
2023020102
2023020147
2023020161
2023020195
2023020210
2023020251
2023020281
2023020316
2023020342
2023020393
2023020412
2023020447
2023020004
2023020101
2023020112
2023020180
2023020238
2023020259
2023020279
2023020303
2023020318
2023020341
2023020360
2023020455
2023020012
2023020017
2023020036
2023020099
2023020113
2023020127
2023020206
2023020261
2023020296
2023020310
2023020327
2023020355
2023020443
2023020001
2023020055
2023020070
2023020086
2023020106
2023020133
2023020198
2023020214
2023020257
2023020273
2023020284
2023020345
2023020375
2023020389
2023020018
2023020039
2023020083
2023020114
2023020128
2023020150
2023020166
2023020191
2023020232
2023020263
2023020285
2023020298
2023020396
2023020414
2023020066
2023020115
2023020137
2023020153
2023020160
2023020185
2023020276
2023020287
2023020334
2023020350
2023020365
2023020378
2023020400
2023020459
2023020470
2023020028
2023020057
2023020075
2023020158
2023020164
2023020184
2023020199
2023020235
2023020297
2023020348
2023020390
2023020436
2023020451
2023020469
2023020024
2023020041
2023020069
2023020087
2023020103
2023020121
2023020181
2023020212
2023020224
2023020231
2023020244
2023020343
2023020361
2023020376
2023020394
2023020423
2023020442
2023020464
2023020002
2023020025
2023020088
2023020105
2023020123
2023020132
2023020217
2023020245
2023020269
2023020283
2023020311
2023020363
2023020434
2023020007
2023020096
2023020109
2023020142
2023020186
2023020247
2023020260
2023020325
2023020351
2023020367
2023020385
2023020401
2023020409
2023020471
2023020010
2023020040
2023020051
2023020067
2023020082
2023020126
2023020157
2023020204
2023020229
2023020301
2023020372
2023020380
2023020411
2023020428
2023020014
2023020056
2023020073
2023020094
2023020151
2023020169
2023020223
2023020267
2023020306
2023020330
2023020369
2023020450
2023020461
2023020046
2023020060
2023020078
2023020154
2023020170
2023020220
2023020228
2023020248
2023020277
2023020292
2023020307
2023020403
2023020418
2023020426
2023020438
2023020453
2023020473
2023020029
2023020077
2023020110
2023020129
2023020152
2023020159
2023020227
2023020239
2023020320
2023020335
2023020391
2023020407
2023020421
2023020437
2023020452
2023020472
2023020011
2023020022
2023020035
2023020063
2023020084
2023020120
2023020146
2023020194
2023020230
2023020243
2023020280
2023020321
2023020337
2023020354
2023020381
2023020405
2023020420
2023020463
2023020019
2023020033
2023020049
2023020065
2023020085
2023020149
2023020162
2023020197
2023020213
2023020242
2023020254
2023020302
2023020323
2023020362
2023020382
2023020395
2023020433
2023020016
2023020030
2023020047
2023020062
2023020156
2023020171
2023020189
2023020203
2023020237
2023020250
2023020300
2023020314
2023020326
2023020441
2023020034
2023020059
2023020081
2023020144
2023020175
2023020187
2023020208
2023020226
2023020253
2023020271
2023020290
2023020299
2023020352
2023020366
2023020425
2023020071
2023020092
2023020168
2023020174
2023020246
2023020270
2023020295
2023020317
2023020333
2023020384
2023020399
2023020416
2023020422

,0,1,2,3,4,5,6,7,8,9,10,Corsi,gameID,awayNumbers,homeNumbers,11,12,13,14
0,5,1,EV,0:00 20:00,FAC,SEA won Neu. Zone - SEA #37 GOURDE vs VGK #10 ROY,37 C 20 R 22 R 3 D 24 D 31 G,10 C 55 R 28 L 7 D 14 D 33 G,NaN,NaN,NaN,SEA,2023020003,"[8476826, 8480009, 8477416, 8478840, 8476467, ...","[8478462, 8478434, 8477478, 8474565, 8479980, ...",NaN,NaN,NaN,NaN
1,7,1,EV,0:12 19:48,FAC,SEA won Off. Zone - SEA #37 GOURDE vs VGK #10 ROY,37 C 20 R 22 R 3 D 24 D 31 G,10 C 55 R 28 L 7 D 14 D 33 G,NaN,NaN,NaN,SEA,2023020003,"[8476826, 8480009, 8477416, 8478840, 8476467, ...","[8478462, 8478434, 8477478, 8474565, 8479980, ...",NaN,NaN,NaN,NaN
2,8,1,EV,0:14 19:46,MISS,"SEA #24 OLEKSIAK, Slap, High and Wide Right, O...",37 C 20 R 22 R 3 D 24 D 31 G,10 C 55 R 28 L 7 D 14 D 33 G,NaN,NaN,NaN,SEA,2023020003,"[8476826, 8480009, 8477416, 8478840, 8476467, ...","[8478462, 8478434, 8477478, 8474565, 8479980, ...",NaN,NaN,NaN,NaN
3,9,1,EV,0:28 19:32,HIT,"VGK #28 CARRIER HIT SEA #24 OLEKSIAK, Off. Zone",37 C 20 R 22 R 3 D 24 D 31 G,10 C 55 R 28 L 7 D 14 D 33 G,NaN,NaN,NaN,VGK,2023020003,"[8476826, 8480009, 8477416, 8478840, 8476467, ...","[8478462, 8478434, 8477478, 8474565, 8479980, ...",NaN,NaN,NaN,NaN
4,10,1,EV,0:42 19:18,GIVE,"VGK GIVEAWAY - #14 HAGUE, Def. Zone",37 C 22 R 19 L 3 D 6 D 31 G,9 C 49 C 81 R 7 D 14 D 33 G,NaN,NaN,NaN,VGK,2023020003,"[8476826, 8477416, 8477955, 8478840, 8476457, ...","[8478403, 8477964, 8476539, 8474565, 8479980, ...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120345,297,3,EV,18:45 1:15,FAC,WSH won Def. Zone - WSH #26 DOWD vs CHI #90 JO...,26 C 47 L 3 D 74 D 35 G,23 C 90 C 98 C 11 R 72 D,NaN,NaN,NaN,WSH,2023020422,"[8475343, 8479359, 8475324, 8474590, 8475311]","[8480798, 8474870, 8484144, 8479390, 8481568]",NaN,NaN,NaN,NaN
120346,298,3,PP,19:12 0:48,MISS,"CHI #98 BEDARD, Wrist, High and Wide Left, Off...",24 C 92 C 3 D 74 D 35 G,23 C 90 C 98 C 11 R 17 L 72 D,NaN,NaN,NaN,CHI,2023020422,"[8481580, 8475744, 8475324, 8474590, 8475311]","[8480798, 8474870, 8484144, 8479390, 8473422, ...",NaN,NaN,NaN,NaN
120347,299,3,PP,19:18 0:42,SHOT,"CHI ONGOAL - #98 BEDARD, Backhand , Off. Zone,...",24 C 92 C 3 D 74 D 35 G,23 C 90 C 98 C 11 R 17 L 72 D,NaN,NaN,NaN,CHI,2023020422,"[8481580, 8475744, 8475324, 8474590, 8475311]","[8480798, 8474870, 8484144, 8479390, 8473422, ...",NaN,NaN,NaN,NaN
120348,300,3,PP,19:25 0:35,TAKE,"CHI TAKEAWAY - #98 BEDARD, Off. Zone",24 C 92 C 3 D 74 D 35 G,23 C 90 C 98 C 11 R 17 L 72 D,NaN,NaN,NaN,CHI,2023020422,"[8481580, 8475744, 8475324, 8474590, 8475311]","[8480798, 8474870, 8484144, 8479390, 8473422, ...",NaN,NaN,NaN,NaN
120349,301,3,PP,19:55 0:05,SHOT,"CHI ONGOAL - #91 BEAUVILLIER, Wrist , Off. Zon...",24 C 92 C 42 D 74 D 35 G,23 C 98 C 11 R 17 L 91 L 72 D,NaN,NaN,NaN,CHI,2023020422,"[8481580, 8475744, 8480796, 8474590, 8475311]","[8480798, 8484144, 8479390, 8473422, 8478463, ...",NaN,NaN,NaN,NaN

In [105]:
corsi_df.to_excel('corsi.xlsx')

In [110]:
file_name = f"corsi.xlsx"
Corsi = pd.read_excel(file_name, index_col=False)
Corsi

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,Corsi,gameID,awayNumbers,homeNumbers,11,12,13,14
0,0,5,1,EV,0:00 20:00,FAC,SEA won Neu. Zone - SEA #37 GOURDE vs VGK #10 ROY,37 C 20 R 22 R 3 D 24 D 31 G,10 C 55 R 28 L 7 D 14 D 33 G,NaN,NaN,NaN,SEA,2023020003,"[8476826, 8480009, 8477416, 8478840, 8476467, ...","[8478462, 8478434, 8477478, 8474565, 8479980, ...",NaN,NaN,NaN,NaN
1,1,7,1,EV,0:12 19:48,FAC,SEA won Off. Zone - SEA #37 GOURDE vs VGK #10 ROY,37 C 20 R 22 R 3 D 24 D 31 G,10 C 55 R 28 L 7 D 14 D 33 G,NaN,NaN,NaN,SEA,2023020003,"[8476826, 8480009, 8477416, 8478840, 8476467, ...","[8478462, 8478434, 8477478, 8474565, 8479980, ...",NaN,NaN,NaN,NaN
2,2,8,1,EV,0:14 19:46,MISS,"SEA #24 OLEKSIAK, Slap, High and Wide Right, O...",37 C 20 R 22 R 3 D 24 D 31 G,10 C 55 R 28 L 7 D 14 D 33 G,NaN,NaN,NaN,SEA,2023020003,"[8476826, 8480009, 8477416, 8478840, 8476467, ...","[8478462, 8478434, 8477478, 8474565, 8479980, ...",NaN,NaN,NaN,NaN
3,3,9,1,EV,0:28 19:32,HIT,"VGK #28 CARRIER HIT SEA #24 OLEKSIAK, Off. Zone",37 C 20 R 22 R 3 D 24 D 31 G,10 C 55 R 28 L 7 D 14 D 33 G,NaN,NaN,NaN,VGK,2023020003,"[8476826, 8480009, 8477416, 8478840, 8476467, ...","[8478462, 8478434, 8477478, 8474565, 8479980, ...",NaN,NaN,NaN,NaN
4,4,10,1,EV,0:42 19:18,GIVE,"VGK GIVEAWAY - #14 HAGUE, Def. Zone",37 C 22 R 19 L 3 D 6 D 31 G,9 C 49 C 81 R 7 D 14 D 33 G,NaN,NaN,NaN,VGK,2023020003,"[8476826, 8477416, 8477955, 8478840, 8476457, ...","[8478403, 8477964, 8476539, 8474565, 8479980, ...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120345,120345,297,3,EV,18:45 1:15,FAC,WSH won Def. Zone - WSH #26 DOWD vs CHI #90 JO...,26 C 47 L 3 D 74 D 35 G,23 C 90 C 98 C 11 R 72 D,NaN,NaN,NaN,WSH,2023020422,"[8475343, 8479359, 8475324, 8474590, 8475311]","[8480798, 8474870, 8484144, 8479390, 8481568]",NaN,NaN,NaN,NaN
120346,120346,298,3,PP,19:12 0:48,MISS,"CHI #98 BEDARD, Wrist, High and Wide Left, Off...",24 C 92 C 3 D 74 D 35 G,23 C 90 C 98 C 11 R 17 L 72 D,NaN,NaN,NaN,CHI,2023020422,"[8481580, 8475744, 8475324, 8474590, 8475311]","[8480798, 8474870, 8484144, 8479390, 8473422, ...",NaN,NaN,NaN,NaN
120347,120347,299,3,PP,19:18 0:42,SHOT,"CHI ONGOAL - #98 BEDARD, Backhand , Off. Zone,...",24 C 92 C 3 D 74 D 35 G,23 C 90 C 98 C 11 R 17 L 72 D,NaN,NaN,NaN,CHI,2023020422,"[8481580, 8475744, 8475324, 8474590, 8475311]","[8480798, 8474870, 8484144, 8479390, 8473422, ...",NaN,NaN,NaN,NaN
120348,120348,300,3,PP,19:25 0:35,TAKE,"CHI TAKEAWAY - #98 BEDARD, Off. Zone",24 C 92 C 3 D 74 D 35 G,23 C 90 C 98 C 11 R 17 L 72 D,NaN,NaN,NaN,CHI,2023020422,"[8481580, 8475744, 8475324, 8474590, 8475311]","[8480798, 8474870, 8484144, 8479390, 8473422, ...",NaN,NaN,NaN,NaN
120349,120349,301,3,PP,19:55 0:05,SHOT,"CHI ONGOAL - #91 BEAUVILLIER, Wrist , Off. Zon...",24 C 92 C 42 D 74 D 35 G,23 C 98 C 11 R 17 L 91 L 72 D,NaN,NaN,NaN,CHI,2023020422,"[8481580, 8475744, 8480796, 8474590, 8475311]","[8480798, 8484144, 8479390, 8473422, 8478463, ...",NaN,NaN,NaN,NaN

In [113]:
column_names = ['#', 'period', 'strength', 'times', 'event', 'description',  'Corsi', 'gameID', 'awayNumbers', 'homeNumbers']
Corsi.columns = column_names
# Corsi.set_index('#', inplace=True)
Corsi

,period,strength,times,event,description,Corsi,gameID,awayNumbers,homeNumbers
#,,,,,,,,,
5,1,EV,0:00 20:00,FAC,SEA won Neu. Zone - SEA #37 GOURDE vs VGK #10 ROY,SEA,2023020003,"[8476826, 8480009, 8477416, 8478840, 8476467, ...","[8478462, 8478434, 8477478, 8474565, 8479980, ..."
7,1,EV,0:12 19:48,FAC,SEA won Off. Zone - SEA #37 GOURDE vs VGK #10 ROY,SEA,2023020003,"[8476826, 8480009, 8477416, 8478840, 8476467, ...","[8478462, 8478434, 8477478, 8474565, 8479980, ..."
8,1,EV,0:14 19:46,MISS,"SEA #24 OLEKSIAK, Slap, High and Wide Right, O...",SEA,2023020003,"[8476826, 8480009, 8477416, 8478840, 8476467, ...","[8478462, 8478434, 8477478, 8474565, 8479980, ..."
9,1,EV,0:28 19:32,HIT,"VGK #28 CARRIER HIT SEA #24 OLEKSIAK, Off. Zone",VGK,2023020003,"[8476826, 8480009, 8477416, 8478840, 8476467, ...","[8478462, 8478434, 8477478, 8474565, 8479980, ..."
10,1,EV,0:42 19:18,GIVE,"VGK GIVEAWAY - #14 HAGUE, Def. Zone",VGK,2023020003,"[8476826, 8477416, 8477955, 8478840, 8476457, ...","[8478403, 8477964, 8476539, 8474565, 8479980, ..."
...,...,...,...,...,...,...,...,...,...
297,3,EV,18:45 1:15,FAC,WSH won Def. Zone - WSH #26 DOWD vs CHI #90 JO...,WSH,2023020422,"[8475343, 8479359, 8475324, 8474590, 8475311]","[8480798, 8474870, 8484144, 8479390, 8481568]"
298,3,PP,19:12 0:48,MISS,"CHI #98 BEDARD, Wrist, High and Wide Left, Off...",CHI,2023020422,"[8481580, 8475744, 8475324, 8474590, 8475311]","[8480798, 8474870, 8484144, 8479390, 8473422, ..."
299,3,PP,19:18 0:42,SHOT,"CHI ONGOAL - #98 BEDARD, Backhand , Off. Zone,...",CHI,2023020422,"[8481580, 8475744, 8475324, 8474590, 8475311]","[8480798, 8474870, 8484144, 8479390, 8473422, ..."
300,3,PP,19:25 0:35,TAKE,"CHI TAKEAWAY - #98 BEDARD, Off. Zone",CHI,2023020422,"[8481580, 8475744, 8475324, 8474590, 8475311]","[8480798, 8474870, 8484144, 8479390, 8473422, ..."
301,3,PP,19:55 0:05,SHOT,"CHI ONGOAL - #91 BEAUVILLIER, Wrist , Off. Zon...",CHI,2023020422,"[8481580, 8475744, 8480796, 8474590, 8475311]","[8480798, 8484144, 8479390, 8473422, 8478463, ..."

In [114]:
Corsi.reset_index(inplace=True)  
Corsi

,#,period,strength,times,event,description,Corsi,gameID,awayNumbers,homeNumbers
0,5,1,EV,0:00 20:00,FAC,SEA won Neu. Zone - SEA #37 GOURDE vs VGK #10 ROY,SEA,2023020003,"[8476826, 8480009, 8477416, 8478840, 8476467, ...","[8478462, 8478434, 8477478, 8474565, 8479980, ..."
1,7,1,EV,0:12 19:48,FAC,SEA won Off. Zone - SEA #37 GOURDE vs VGK #10 ROY,SEA,2023020003,"[8476826, 8480009, 8477416, 8478840, 8476467, ...","[8478462, 8478434, 8477478, 8474565, 8479980, ..."
2,8,1,EV,0:14 19:46,MISS,"SEA #24 OLEKSIAK, Slap, High and Wide Right, O...",SEA,2023020003,"[8476826, 8480009, 8477416, 8478840, 8476467, ...","[8478462, 8478434, 8477478, 8474565, 8479980, ..."
3,9,1,EV,0:28 19:32,HIT,"VGK #28 CARRIER HIT SEA #24 OLEKSIAK, Off. Zone",VGK,2023020003,"[8476826, 8480009, 8477416, 8478840, 8476467, ...","[8478462, 8478434, 8477478, 8474565, 8479980, ..."
4,10,1,EV,0:42 19:18,GIVE,"VGK GIVEAWAY - #14 HAGUE, Def. Zone",VGK,2023020003,"[8476826, 8477416, 8477955, 8478840, 8476457, ...","[8478403, 8477964, 8476539, 8474565, 8479980, ..."
...,...,...,...,...,...,...,...,...,...,...
120345,297,3,EV,18:45 1:15,FAC,WSH won Def. Zone - WSH #26 DOWD vs CHI #90 JO...,WSH,2023020422,"[8475343, 8479359, 8475324, 8474590, 8475311]","[8480798, 8474870, 8484144, 8479390, 8481568]"
120346,298,3,PP,19:12 0:48,MISS,"CHI #98 BEDARD, Wrist, High and Wide Left, Off...",CHI,2023020422,"[8481580, 8475744, 8475324, 8474590, 8475311]","[8480798, 8474870, 8484144, 8479390, 8473422, ..."
120347,299,3,PP,19:18 0:42,SHOT,"CHI ONGOAL - #98 BEDARD, Backhand , Off. Zone,...",CHI,2023020422,"[8481580, 8475744, 8475324, 8474590, 8475311]","[8480798, 8474870, 8484144, 8479390, 8473422, ..."
120348,300,3,PP,19:25 0:35,TAKE,"CHI TAKEAWAY - #98 BEDARD, Off. Zone",CHI,2023020422,"[8481580, 8475744, 8475324, 8474590, 8475311]","[8480798, 8474870, 8484144, 8479390, 8473422, ..."
120349,301,3,PP,19:55 0:05,SHOT,"CHI ONGOAL - #91 BEAUVILLIER, Wrist , Off. Zon...",CHI,2023020422,"[8481580, 8475744, 8480796, 8474590, 8475311]","[8480798, 8484144, 8479390, 8473422, 8478463, ..."

In [ ]:
# corsi_df.to_excel('corsi.xlsx')

In [116]:
file_name = f"data/corsi-{today.strftime('%Y-%m-%d')}.csv"
Corsi.to_csv(file_name, index=False)

In [ ]:


try:
    # Open the webpage with Selenium
    driver.get(url)

    # Get the HTML content after the dynamic content has loaded
    html_content = driver.page_source

    # Parse the HTML with BeautifulSoup
    soup = BeautifulSoup(html_content, 'html.parser')

    # Now you can work with the soup object to extract data from the HTML.
    tables = soup.find_all('table', class_='tablewidth')

    dataframes = [pd.read_html(str(table))[0] for table in tables]

    # Print the extracted DataFrames
    for index, df in enumerate(dataframes, 1):
        print(f"DataFrame {index}:\n{df}\n{'='*50}\n")

finally:
    # Close the webdriver
    driver.quit()